extends ../layout.jade

block content
  ul(class='nav nav-tabs')
    li(class='active'): a(href='#home', data-toggle='tab') YAML
    li: a(href='#json', data-toggle='tab') JSON
    li: a(href='#xml', data-toggle='tab') XML

  div(class='tab-content')
    div(class='tab-pane active', id='home'): pre: code= YAML.stringify(data, 3, 2)
    div(class='tab-pane', id='json'): pre: code= JSON.stringify(data, null, 2)
    div(class='tab-pane', id='xml'): pre: code= XML.create(data, { prettyPrint: true, indent: '  ' }).end({pretty: true, indent: '  ', newline: '\n'})
