extends layout.jade

block content
  div.container
    if (!data)
      div.alert.alert-warning No data

    else
      div#preview
        button(class='btn btn-default btn-clipboard', data-clipboard-target='#{target}'): i.fa.fa-copy

        ul.nav.nav-tabs
          li.active: a(href='#json', data-toggle='tab') JSON
          li: a(href='#yaml', data-toggle='tab') YAML
          li: a(href='#xml', data-toggle='tab') XML

        div.tab-content
          div(id='json').tab-pane.active.fade.in
            pre: code= data.json

          div(id='yaml').tab-pane.fade
            pre: code= data.yaml

          div(id='xml').tab-pane.fade
            pre: code= data.xml

    br

    p: em You're viewing the HTML output, try calling this endpoint with an #[code Accept] header with one of the values: #[code application/x-yaml], #[code application/json], #[code application/xml]

block scripts
  script(type='text/javascript').
    $(function() {
      ZeroClipboard.config({
        swfPath: '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf',
        forceHandCursor: true,
        trustedDomains: [window.location.host, "cdnjs.cloudflare.com"]
      });

      new ZeroClipboard($('.btn-clipboard'));

      // select first tab
      $('.nav-tabs a:first').tab('show');

      // highlight the code
      $('.tab-content pre code').each(function (i, block) {
        hljs.highlightBlock(block);
      });
    });
