extends layout.jade

block content
  if (data)
    ul(class='nav nav-pills')
      li.active: a(href='#yaml', data-toggle='tab') YAML
      li: a(href='#json', data-toggle='tab') JSON
      li: a(href='#xml', data-toggle='tab') XML

    hr

    p calling <code>http://#{hostname}#{path}</code> with an <code>Accept</code> header with the value: &nbsp;
      select
        for value, key in {yaml: 'application/x-yaml', json: 'application/json', 'xml': 'application/xml'}
          option(value= key)= value
      |  will result in the content below:

    div(class='tab-content')
      div(id='yaml').tab-pane.active.fade.in
        pre: code= data.yaml

      div(id='json').tab-pane.fade
        pre: code= data.json

      div(id='xml').tab-pane.fade
        pre: code= data.xml

    p for more info, review the&nbsp;
      a(href='/docs#' + path.replace('/', '-') + '-') documentation

    //- hr
    //- p Try this request with

block scripts
  script(type='text/javascript').
    $('select').on('click', function () {
      event.preventDefault();

      $('[href=#' + $(this).val() + ']').tab('show')
    });

