extends layout.jade

block content
  header
    div.container
      h1 API Documentation

  div.container.docs
    div.col-md-3.hidden-sm
      div.sidenav.affix-container(data-spy='affix',  data-offset-top='100')
        ul.nav
          li
            a(href="#overview") Overview
            ul.nav
              li: a(href='#http-methods') HTTP Methods
              li: a(href='#content-negotiation') Content Negotiation
              li: a(href='#jsonp-callbacks') JSONP Callbacks

          li
            a(href="#api-endpoints") API Endpoints
            ul.nav.endpoints

    div.col-md-9.markdown
      div.overview-container
        include:markdown ../docs/index.md

      div.endpoints-container
        include:markdown ../docs/api.md

    form(method='GET', action='', enctype='text/plain')

    script#nav-template(type='text/template')
      li: a(href='#@') %

block scripts
  script(type='text/javascript').
    var template = $('#nav-template').text();

    $('pre code').each(function (i, block) {
      hljs.highlightBlock(block);
    });

    // style tables
    $('table').each(function () {
      $(this).addClass('table table-hover')
    });

    // attach listener
    $('.markdown').on('click', '.dropdown-menu a', function (event) {
      self = $(this);

      var method = self.text();

      if (method !== 'GET') {
        event.preventDefault();

        var enctypes = {
          ANY: 'multipart/form-data',
          POST: 'application/x-www-form-urlencoded'
        };

        $('form').attr({
          'method': method,
          'action': self.attr('href'),
          'enctype': enctypes[method]
        }).submit();
      }
    });

    function addNavItem (element, nav) {
      // create nav item
      var item = $(
        template
          .replace(/%/g, element.innerHTML)
          .replace(/@/g, element.id)
      );

      $(item).appendTo(nav);

      return item;
    }

    function addSubNav (parent) {
      var nav = $('<ul class="nav"/>');

      nav.appendTo(parent);

      return nav;
    }

    // generate the sidebar links
    $('.endpoints-container h3').each(function () {
      var parent = $('.nav.endpoints');

      var item = addNavItem(this, parent);
      var nav = addSubNav(item);

      // get all top levels
      $(this).nextUntil('h3', 'h4').each(function () {
        var sub_item = addNavItem(this, nav);
        var sub_nav = addSubNav(sub_item);

        // get all groups
        $(this).nextUntil('h4', 'h5').each(function () {
          addNavItem(this, sub_nav)
        });
      });
    });
