extends layout.jade

block content
  h1 API Documentation

  div.row.documentation
    div.col-md-3
      div.affix-container(data-spy='affix',  data-offset-top='150')
        h4 Overview
        ul.nav.nav-pills.nav-stacked.sidenav
          li(role='presentation'): a(href='#http-methods') HTTP Methods
          li(role='presentation'): a(href='#content-negotiation') Content Negotiation
          li(role='presentation'): a(href='#jsonp-callbacks') JSONP Callbacks


        h4 Endpoints
        ul.nav.nav-pills.nav-stacked.sidenav.endpoints

    div.col-md-9
      div.markdown
        div.overview-container
          include:markdown ../docs/index.md

        div.endpoints-container
          include:markdown ../docs/api.md

  form(method='GET', action='', enctype='text/plain')

  script#nav-template(type='text/template')
    li(role='presentation'): a(href='#@-') %

  script#action-template(type='text/template')
    div.btn-group.pull-right(class='@-')
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Try &nbsp;
        span.caret

      ul.dropdown-menu(role='menu')
        li: a.get(href='#') GET
        li: a.post(href='#') POST
        li: a.any(href='#') ANY

block scripts
  script(type='text/javascript').
    // highlight.js
    $('pre code').each(function (i, block) {
      hljs.highlightBlock(block);
    });

    var sidenav = $('.nav.nav-pills.nav-stacked.sidenav.endpoints');

    var template = {
      nav: $('#nav-template').text(),
      action: $('#action-template').text()
    };

    // style tables
    $('table').each(function () {
      $(this).addClass('table table-condensed table-bordered table-striped table-hover')
    });

    // attach listener
    $('.markdown').on('click', '.dropdown-menu a', function (event) {
      self = $(this);

      var method = self.text();

      if (method !== 'GET') {
        event.preventDefault();

        var enctypes = {
          ANY: 'multipart/form-data',
          POST: 'application/x-www-form-urlencoded'
        };

        $('form').attr({
          'method': method,
          'action': self.attr('href'),
          'enctype': enctypes[method]
        }).submit();
      }
    });

    // generate some dom elements
    $('.endpoints-container h3').each(function () {
      var endpoint = $(this);
      var text = endpoint.find('code').text();
      var identifier = text.replace(/:/g, '').replace(/=|\?|\//g, '-').replace(/--/g, '-');

      // create nav item
      var item = $(
        template.nav
          .replace(/%/g, text)
          .replace(/@/g, identifier)
      );

      $(item).appendTo(sidenav);

      // create action button
      var href = text
        .replace(':id', 'xxx')
        .replace(':code', '418')
        .replace(':reason', 'I\'m%20a%20teapot')
        .replace(':status', '308')
        .replace(':count', '3')
        .replace(':url', 'http://httpconsole.com/docs')

      var html = $(
        template.action
          .replace(/#/g, href)
          .replace(/@/g, identifier)
      );

      $(html).prependTo(endpoint)
    });
