extends layout.jade

block content
  div.showcase
    div.container
      h1 Mock, Test &amp; Track HTTP calls!

      p #[span.logo #[strong HTTP] Console] was born out of the need for a better HTTP debugging service, it relies on the popular #[a(href='http://www.softwareishard.com/blog/har-12-spec/') HAR] format to export data and configure mock endpoints.

      div.social
        a.github-button(href='https://github.com/ahmadnassri/httpconsole/fork', data-icon='octicon-git-branch', data-count-href='/ahmadnassri/httpconsole/network', data-count-api='/repos/ahmadnassri/httpconsole#forks_count') Fork
        a.github-button(href='https://github.com/ahmadnassri/httpconsole', data-icon='octicon-star', data-count-href='/ahmadnassri/httpconsole/stargazers', data-count-api='/repos/ahmadnassri/httpconsole#stargazers_count') Star
        a.twitter-share-button(href='https://twitter.com/share', data-url='http://httpconsole.com', data-via='AhmadNassri', data-related='Mashape', data-hashtags='httpconsoleapi', data-dnt='true') Tweet

  div.container.home
    iframe.embed(src='http://localhost:9000/?source=http://localhost:8080/static/samples/echo.json&target=all', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', width='100%', height='300', seamless)

    a.btn.btn-default(href='/docs') Go to Documentation

    h2 Features

    div.row
      div.col-sm-4
        h3 Utility Endpoints
        p 15+ utility HTTP endpoints

      div.col-sm-4
        h3 Mock Custom Endpoints
        p Mock custom endpoints using any HAR response object #[em (use as webhooks / testing / api mocking api / anything!)]

      div.col-sm-4
        h3 Log and Inspect Calls
        p Log and inspect incoming calls to your custom endpoints #[em (see how detailed HTTP logs each client is making)]
        p Plays nice with proxies

    div.row
      div.col-sm-4
        h3 Use any HTTP Method
        p Allows for HTTP Method Override (using #[code X-HTTP-Method-Override] header or query string parameter: #[code _method]

      div.col-sm-4
        h3 CORS Headers
        p Cross-Origin resource sharing #[em (use it in your browser!)]

      div.col-sm-4
        h3 JSON, XML, YAML, HTML
        p JSON, YAML, XML, HTML output

block scripts
  script(type='text/javascript', async, defer, id='twitter-wjs', src='https://platform.twitter.com/widgets.js')
  script(type='text/javascript', async, defer, id='github-bjs', src='https://buttons.github.io/buttons.js')

  script(type='text/javascript').
    // highlight.js
    $('pre code').each(function (i, block) {
      hljs.highlightBlock(block);
    });
