doctype html
html
  head
    meta(charset='utf-8')

    title HTTP Console

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css', media='all')

    block head

  body
    block header

    div.container-fluid
      block content

    block scripts
