doctype html
html
  head
    meta(charset='utf-8')

    title Mockbin by Kong

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', media='all')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Code+Pro:200,300,400,500,600,700,900', media='all')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css', media='all')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css', media='all')
    link(rel='stylesheet', type='text/css', href='/static/main.css', media='all')

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js')

    block head

  body
    block header
      nav.navbar.navbar-default
        div.container
          div.navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar

            div.navbar-brand
              a(href='/') mockbin

          div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              for link, name in [{name: 'Create Bin', href: '/bin/create'}, {name: 'Docs', href: 'https://github.com/Kong/mockbin/tree/master/docs'}, {name: 'Github', href: 'https://github.com/Kong/mockbin'}]
                li(class={active: req.originalUrl === link.href}): a(href= link.href)= link.name

    block content

    block scripts
