doctype html
html
  head
    meta(http-equiv='refresh', content=`0; url=${res.getHeaders().location}/view`)

  body
    p Redirecting to #[a(href=res.getHeaders().location)= res.getHeaders().location + '/view']
