doctype html
html
  head
    meta(http-equiv='refresh', content='0; url=' + res._headers.location + '/view')

  body
    p Redirecting to
      a(href=res._headers.location + '/view') #{res._headers.location}/view
