body {
  color: #36434C;
  padding-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

header .navbar-default {
  border-color: #E6E9EB;
  background-color: #FFFFFF;
  margin: 0;
}

header .navbar-default .navbar-brand {
  position: relative;
}

header .navbar-default .navbar-brand a {
  color: #273D4D;
}

header .navbar-default .navbar-brand .logo {
  padding: 4px;
  color: #FFFFFF;
  background-color: #2BA8D2;
}

header .navbar-default .navbar-brand a:hover {
  text-decoration: none;
}

header .navbar-default .navbar-brand strong {
  font-weight: 600;
}

header .navbar-default .navbar-brand .text-muted,
header .navbar-default .navbar-brand .text-muted a {
  font-size: 80%;
  color: #A1ABB2;
}

header .navbar-default .navbar-nav > li > a {
  color: #2E99E6;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 3px;

  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .navbar-default .navbar-nav > .active > a,
header .navbar-default .navbar-nav > .active > a:focus,
header .navbar-default .navbar-nav > .active > a:hover {
  color: #1A5580;
  background-color: #EFF7FD;
}

header .navbar-default .navbar-nav > li > a:hover {
  color: #1A5580;
}

header .navbar-default .navbar-text {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

footer .navbar-default {
  text-transform: uppercase;
  font-weight: 600;
}

footer .navbar-default .navbar-text {
  color: #8A9399;
}

footer .navbar-default .navbar-nav a,
footer .navbar-default .navbar-text a {
  color: #2E99E5;
}

.btn-default {
  color: #FFFFFF;
  border-color: #0089EB;

  background-color: #37A0E8;
}

.btn-default:hover {
  color: #FFFFFF;
  border-color: #0089EB;
  background-color: #2890E3;
}

.content header {
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid #E6E9EB;
}

.content header h1 {
  padding: 0;
}

.showcase {
  height: 400px;
  padding-top: 60px;

  color: #FFFFFF;
  text-align: center;

  background: #053b7b;
  background: -moz-linear-gradient(45deg, #053b7b 0%, #005fa3 100%);
  background: -webkit-linear-gradient(45deg, #053b7b 0%, #005fa3 100%);
  background: -o-linear-gradient(45deg, #053b7b 0%, #005fa3 100%);
  background: -ms-linear-gradient(45deg, #053b7b 0%, #005fa3 100%);
  background: linear-gradient(135deg, #053b7b 0%, #005fa3 100%);
}

.showcase h1 {
  font-weight: 300;
}

.showcase a {
  color: white;
  border-bottom: 1px solid #FFFFFF;
}

.showcase a:hover {
  border-bottom: none;
}

.showcase .social iframe {
  display: inline-block;
  margin-right: 10px;
}

.home .embed {
  margin-top: -200px;
}

.home {
  text-align: center;
}

.home h2 {
  color: #015699;
  font-weight: 300;
}

.home h3 {
  color: #434F59;
  font-weight: 400;
}

.docs .markdown {
  border-left: 1px solid #E6E9EB;
}

.docs code {
  border-radius: 0;
  color: #36434C;
  border: 1px solid #f0f1f2;
  background-color: #fcfcfc;
}

.markdown h5 code {
  display: inline-block;
  margin: 10px 0;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
}

.markdown pre {
  border-radius: 3px;
  border-color: #f0f1f2;
  background-color: #fcfcfc;
}

.markdown pre code {
  border: none;
  background-color: transparent;
}

.markdown blockquote {
  padding: 0;
  margin: 0;
  border: 0;
}

.markdown hr {
  border-top-width: 2px;
}

.affix-container {
  top: 0px;
}

.sidenav > .nav > li > a {
  text-transform: uppercase;
  color: #36434C;
  font-weight: 600;
  padding-left: 0;
}

.sidenav > .nav > li > .nav {
  border-left: 1px solid #E6E9EB;
}

.sidenav > .nav > li > .nav > li .nav {
  display: none;
}

.sidenav > .nav > li > .nav > li.active > .nav {
  display: block;
}

.sidenav > .nav > li > .nav > li.active > .nav > li.active > .nav {
  display: block;
}

.sidenav > .nav > li > .nav > li.active > a {
  background-color: #EFF7FD;
  border-left: 1px solid #2E99E6;
}

.sidenav > .nav > li > .nav > li.active > .nav > li.active > a:before {
  display: inline-block;
  margin-right: 5px;
  content: '\f054';
  font-family: FontAwesome;
}

.hljs {
  background-color: transparent;
}
